<meta charset="utf-8">

<title>{{ .Site.Params.current_event_short_hand }} {{ .Site.Params.current_event_year }} Stats</title>

<!-- odometer css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/themes/odometer-theme-minimal.min.css" />

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="robots" content="index, follow">
<meta name="author" content="{{ .Site.Author }}">

<link rel="stylesheet" type="text/css" href="/css/main.css">

{{ if eq (getenv "NODE_ENV") "production" }}
    {{- template "_internal/google_analytics_async.html" . -}}

    <script data-goatcounter="https://gdqstatus.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
{{ end }}

{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}