@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300);
@font-face {
  font-family: 'Cubano';
  src: url("../font/cubano-regular-webfont.eot");
  src: url("../font/cubano-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/cubano-regular-webfont.woff") format("woff"), url("../font/cubano-regular-webfont.ttf") format("truetype"), url("../fonts/cubano-regular-webfont.svg#webfont") format("svg"); }

.recharts-label {
  font-family: "Cubano";
  font-size: 14px;
  fill: #555; }

.xAxis .recharts-label {
  transform: translate(0px, -15px); }

.nav-pills > li > a {
  border-radius: 0px; }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #00AEEF;
  color: #333; }

.nav a {
  color: #666; }
