{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "settings": {
    "import/resolver": "webpack"
  },
  "env": {
      "browser": true,
      "jest": true
  },
  "rules": {
    "max-len": ["error", {
        "code": 100
    }]
  }
}
