---
layout: null
---
<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>SGDQ 2016 Stats</title>

  {% include favicon.html %}
  {% include libraries.html %}
  {% include google_analytics.html %}

  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  <link rel="stylesheet" type="text/css" href="/css/flipclock.css">
</head>
<body>
  <div class="container">
    <h1><a href="https://gamesdonequick.com/">Summer Games Done Quick</a> &nbsp;&nbsp; 2016 Stats</h1>
    <div class="section" style="width: 100%">
      <h2 style="text-align: center;">Coming soon...</h2>
      <div id="clockdiv" >
        <div>
          <span class="days"></span>
          <div class="smalltext">Days</div>
        </div>
        <div>
          <span class="hours"></span>
          <div class="smalltext">Hours</div>
        </div>
        <div>
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>
    </div>
    <footer style="display:inline-block"> Made with <img src="img/base_emoji_colored.png" width="16px" align="top"> by <a href="http://benjamincongdon.me">Benjamin Congdon</a>, 2016</footer>
    <div style="text-align:right; float:right">
      <iframe src="https://ghbtns.com/github-btn.html?user=bcongdon&repo=sgdq-stats&type=star" frameborder="0" scrolling="0" width="65px" height="20px"></iframe>
    </div>
  </div>
  <script type="text/javascript">
    function getTimeRemaining(endtime) {
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor((t / 1000) % 60);
      var minutes = Math.floor((t / 1000 / 60) % 60);
      var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
      var days = Math.floor(t / (1000 * 60 * 60 * 24));
      return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
      };
    }

    function initializeClock(id, endtime) {
      var clock = document.getElementById(id);
      var daysSpan = clock.querySelector('.days');
      var hoursSpan = clock.querySelector('.hours');
      var minutesSpan = clock.querySelector('.minutes');
      var secondsSpan = clock.querySelector('.seconds');

      function updateClock() {
        var t = getTimeRemaining(endtime);

        daysSpan.innerHTML = t.days;
        hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
        minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
        secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

        if (t.total <= 0) {
          clearInterval(timeinterval);
        }
      }

      updateClock();
      var timeinterval = setInterval(updateClock, 1000);
    }
    var deadline = new Date(Date.parse("8:30:00 1-8-17"));
    initializeClock('clockdiv', deadline);
  </script>
</body>