@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,200);

body {
  background-color: #FFFFFF;
  font-family: "Roboto";
  font-size: 10px;
  font-weight: 400;
}

a {
    color: #42A5DA;
    text-decoration: none;
}

a:hover {
    color: #59BCF9;
    text-decoration: none;
}

h1 {
    border-bottom: 2px solid #2F769C;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 200;
}

h1 a {
  font-size: 32px;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #2F769C;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #2F769C;
  stroke: #2F769C;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

.section {
  border-left:  2px solid #ddd;
  border-right: 2px solid #ddd;
  margin-bottom: 40px;
  vertical-align: top;
  border-bottom: 2px solid #ddd;
}

.section h2 {
  text-align: left;
  padding: 10px;
  margin-bottom: 0px;
  font-size: 18px;
  background-color: #ddd;
}

.content {
  padding: 20px;
  overflow: hidden;
}

.current_stats {
  text-align: left;
  padding: 10px;
  font-size: 16px;
  background-color: #eee;
  margin-top: 0px;
}

.tooltip {   
  pointer-events: none;
  position: absolute;           
  background-color: #ffffff;
  margin: 0;
  border: 2px solid #eee;
  text-align: left;
}

#chart {
  height: 500px;
}

footer {
  color: #666;
  font-size: 14px;
}