@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,200|Open+Sans);


@font-face{ 
  font-family: 'Cubano';
  src: url('font/cubano-regular-webfont.eot');
  src: url('font/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/cubano-regular-webfont.woff') format('woff'),
       url('font/cubano-regular-webfont.ttf') format('truetype'),
       url('font/cubano-regular-webfont.svg#webfont') format('svg');
}

body {
  background-color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 400;
}

a {
    color: #F21847;
    text-decoration: none;
}

a:hover {
    color: #A20023;
    text-decoration: none;
}

h1, h2, h3 {
    font-size: 30px;
    font-weight: 400;
    font-family: "Cubano"
}

h1 a {
  font-size: 32px;
  border-bottom: 2px solid #00AEEF;
  margin-bottom: 40px;
}

h1 {
  color: #555;
}

.axis {
  font-size: 13px;
  fill: #999;
  font-weight: 200;
}
.axis text {
  fill: #222;
  font-weight: 300;
}

.axis path,
.axis line {
  shape-rendering: crispEdges;
  stroke: #ddd;
  /*display: none;*/
  fill: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
  clip-path: url(#clip);
}

.overlay {
  fill: none;
  pointer-events: all;
}

.viewerLine {
  stroke: #00AEEF;
}

.viewerFocus {
  fill: #00AEEF;
  stroke: #00AEEF;
}

.donationLine {
  stroke: #F21847;
}

.contextLine {
  stroke: #00AEEF;
  stroke-width: 1px;
}

.gameLine {
  stroke: #aaa;
  stroke-width: 1px;
}

.contextBound {
  stroke: #bbb;
  fill: none;
  stroke-width: 1px;
}

.donationFocus {
  fill: #F21847;
  stroke: #F21847;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  fill: #00AEEF;
  shape-rendering: crispEdges;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

.section {
  border-left:  2px solid #ddd;
  border-right: 2px solid #ddd;
  margin-bottom: 40px;
  vertical-align: top;
  border-bottom: 2px solid #ddd;
}

.section h2 {
  text-align: left;
  padding: 10px;
  margin-bottom: 0px;
  font-size: 18px;
  background-color: #ddd;
}

.content {
  padding: 20px;
  overflow: hidden;
}

.current_stats {
  text-align: left;
  padding: 10px;
  font-size: 16px;
  background-color: #eee;
  margin-top: 0px;
}

.current_header {
  padding-right: 10px;
}

.stat {
  display: inline-block;
  width: 33%;
}

.tooltip {   
  pointer-events: none;
  position: absolute;           
  background-color: #ffffff;
  margin: 0;
  border: 2px solid #eee;
  text-align: left;
}

#chart {
  height: 600px;
}

footer {
  color: #666;
  font-size: 14px;
}