@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);

body {
  background-color: #FFFFFF;
  font-family: "Source Sans Pro";
  font-size: 10px
}

a {
    color: #42A5DA;
    text-decoration: none;
}

a:hover {
    color: #59BCF9;
    text-decoration: none;
}

h1 {
    border-bottom: 3px solid #2F769C;
    margin-bottom: 40px;
    font-size: 32px;
}

.axis path,
.axis line {
  fill: none;
  /*shape-rendering: crispEdges;*/
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #2F769C;
  stroke-width: 1.5px;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 0;
}

.section {
  border-left:  2px solid #ddd;
  border-right: 2px solid #ddd;
  margin-bottom: 40px;
  vertical-align: top;
  border-bottom: 2px solid #ddd;
}

.section h2 {
  text-align: left;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  background-color: #ddd;
}

footer {
  color: #666;
  font-size: 14px;
  vertical-align: middle;
}

