---
layout: null
---
<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>SGDQ 2016 Stats</title>

  {% include favicon.html %}
  {% include libraries.html %}
  {% include c3.html %}
  {% include google_analytics.html %}

  <link rel="stylesheet" type="text/css" href="layout.css"></link>

</head>
<body>
  <div class="container">
    <h1><a class='sgdq-link' href="https://gamesdonequick.com/">Summer Games Done Quick</a> &nbsp;&nbsp; <a class='home-link' href='/'>2016 Stats</a></h1>
    <div class="section">
      <h2><a class='home-link' style="color:#000; text-decoration:underline" href='/'>Home</a></h2>
    </div>
    <div class="section" id="chart-div">
      <h2>Platforms vs. Run time</h2> 
      <div class="content" style="padding-top: 5px;">
        <div id="schedule_chart" style="height:450px"><img class="loading-image" src="img/loading.gif"></div>
      </div>
    </div>

    {% include footer.html %}
  </div>
  <script type="text/javascript" src="js/games_scatter.js"></script>
</body>