---
layout: null
---
<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>

  {% include favicon.html %}
  {% include libraries.html %}
  {% include google_analytics.html %}
  {% include header.html %}

</head>
<body>
  <div class="container">
    <h1><a class='gdq-link' href="/">{{ site.current_event }}</a> &nbsp;&nbsp; {{ site.current_event_year }} Countdown</h1>
<!--     <div class="section" id="chart-div">
      <h2>Platforms vs. Run time</h2> 
      <div class="content" style="padding-top: 5px;">
        <div id="schedule_chart" style="height:450px"><img class="loading-image" src="img/loading.gif" alt="loading"></div>
      </div>
    </div>-->
    <div class="section" id="chart-div">
      <h2>Kill vs Save the Animals</h2> 
      <div class="content" style="padding-top: 5px;">
        <div id="metroid_chart" style="height:450px"><img class="loading-image" src="img/loading.gif" alt="loading"></div>
      </div>
    </div>
<!--     <div class="section" id="chart-div">
      <h2>Total Donations per Game</h2> 
      <div class="content" style="padding-top: 5px;">
        <div id="totalDonationsGraph" style="height:450px"><img class="loading-image" src="img/loading.gif" alt="loading"></div>
      </div>
    </div>
    <div class="section" id="chart-div">
      <h2>Average Donations Per Minute During Game</h2> 
      <div class="content" style="padding-top: 5px;">
        <div id="donationsPerMinuteGraph" style="height:450px"><img class="loading-image" src="img/loading.gif" alt="loading"></div>
      </div>
    </div>
 -->
    {% include footer.html %}
  </div>
  <!-- <script type="text/javascript" src="js/games_scatter.js"></script> -->
  <script type="text/javascript" src="js/bid_series.js"></script>
  <!-- <script type="text/javascript" src="js/games_graphs.js"></script> -->
</body>
