@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300);
@font-face {
  font-family: 'Cubano';
  src: url("../fonts/cubano-regular-webfont.eot");
  src: url("../fonts/cubano-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cubano-regular-webfont.woff") format("woff"), url("../fonts/cubano-regular-webfont.ttf") format("truetype"), url("../fonts/cubano-regular-webfont.svg#webfont") format("svg"); }

#clockdiv {
  color: white;
  font-weight: 100;
  text-align: center;
  font-size: 60px;
  padding: 15px;
  padding-left: 0px;
  width: 100%;
  margin: 0 auto;
  color: black;
  max-width: 760px; }
  @media (max-width: 575px) {
    #clockdiv {
      font-size: 32px;
      padding: 5px; } }

.number-container {
  padding: 10px;
  border-radius: 3px;
  background: #DDD;
  display: inline-block; }
  .number-container .clock-number {
    padding: 15px;
    border-radius: 3px;
    background: #aaa;
    display: inline-block; }
  .number-container .clock-label {
    padding-top: 5px;
    font-size: 16px; }
  @media (max-width: 575px) {
    .number-container {
      font-size: 32px;
      padding: 0px;
      border: 10px; }
      .number-container .clock-label {
        padding-bottom: 5px; } }
