@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300);
@font-face {
  font-family: 'Cubano';
  src: url("../fonts/cubano-regular-webfont.eot");
  src: url("../fonts/cubano-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cubano-regular-webfont.woff") format("woff"), url("../fonts/cubano-regular-webfont.ttf") format("truetype"), url("../fonts/cubano-regular-webfont.svg#webfont") format("svg"); }

body {
  background-color: white;
  font-family: "Open Sans", "Helvetica", "Arial";
  font-size: 10px;
  font-weight: 400; }

a {
  color: #F21847;
  text-decoration: none; }
  a:hover {
    color: #A20023;
    text-decoration: none; }

h1, h2, h3 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Cubano"; }

.gdq-event-header {
  font-size: 32px;
  font-weight: 400;
  font-family: "Cubano";
  border-bottom: 2px solid #00AEEF;
  margin-bottom: 40px;
  margin-right: 25px; }

.gdq-year-header {
  font-size: 32px;
  font-weight: 400;
  font-family: "Cubano";
  color: #333;
  display: inline-block;
  padding-top: 2px; }

.graph-series-chooser {
  padding-left: 0px;
  padding-right: 0px;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica", "Arial"; }

.graph-series-secondary-chooser {
  padding-left: 0px;
  padding-right: 0px;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica", "Arial"; }
  .graph-series-secondary-chooser .nav-pills > li.active > a, .graph-series-secondary-chooser .nav-pills > li.active > a:focus, .graph-series-secondary-chooser .nav-pills > li.active > a:hover {
    background-color: #F21847; }

.graph-container {
  padding-left: 0px;
  border-left: 1px solid #DDD; }

.graph-container-fullscreen {
  width: 100%; }

h3 {
  font-size: 18px; }

.container {
  margin: 0 auto;
  padding: 0; }

.section {
  border-left: 2px solid #DDD;
  border-right: 2px solid #DDD;
  margin-bottom: 40px;
  vertical-align: top;
  border-bottom: 2px solid #DDD; }
  .section h2 {
    text-align: left;
    padding: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    background-color: #DDD; }
  .section .row {
    margin: 0px; }

.table-content {
  padding: 0px;
  overflow: hidden; }

.content {
  padding: 10px;
  overflow: hidden; }

.gdq-loader {
  height: 500px;
  align-items: center;
  display: flex;
  justify-content: center; }

.current_stats {
  text-align: left;
  font-size: 16px;
  background-color: #EEE;
  margin-top: 0px; }

.gdq-links {
  background-color: #E6E6E6;
  border-top: 2px #DDD solid;
  width: inherit; }
  .gdq-links div {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: "Cubano"; }

.current_header {
  padding-right: 10px; }

.stat {
  display: inline-flex;
  align-items: center; }

.odometer-group {
  display: inline-flex;
  margin-left: auto; }

.gdq-tooltip {
  background-color: #FDFDFD;
  margin: 3px solid #FDFDFD;
  margin-right: 10px;
  margin-right: 10px;
  border: 1.5px solid #DDD;
  text-align: center;
  font-family: "Open Sans", "Helvetica", "Arial";
  width: 225px; }
  .gdq-tooltip .tool-game {
    background-color: #DDD;
    font-family: "Cubano";
    font-weight: bold;
    font-size: 16px;
    height: 45px; }
  .gdq-tooltip .tool-date {
    background-color: #DDD;
    color: #666;
    font-weight: 300; }
  .gdq-tooltip .tool-primary {
    color: #00AEEF;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 10px; }
  .gdq-tooltip .tool-secondary {
    color: #F21847;
    font-size: 14px;
    padding-bottom: 5px; }
  .gdq-tooltip .tool-footer {
    background-color: #DDD;
    font-weight: 800;
    color: #555; }

#game-list {
  height: 500px;
  border-bottom: 2px solid #DDD; }

.game-list-row {
  border-top: 1px solid #DDD;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px; }

.games-list-body {
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  width: 100%;
  height: 476px;
  font-weight: 300; }

.games-list-head {
  background-color: #EEE;
  padding: 0px;
  display: block;
  padding-left: 5px; }

#gamesTable {
  width: 100%;
  font-size: 16px; }

.odometer {
  display: inline-block;
  padding-right: 5px; }

.emoji {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle; }

.info-section {
  font-size: 16px;
  font-weight: 100; }
  .info-section h3 {
    margin-top: 0px; }

.series-options {
  background-color: #EEE;
  padding: 10px;
  font-family: "Cubano";
  font-size: 14px; }

footer {
  color: #666;
  font-size: 14px; }

.previous-events {
  background-color: #E6E6E6;
  width: inherit;
  max-width: 760px; }
  .previous-events div {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: "Cubano"; }
