<!-- Footer -->
<footer style="display:inline-block"> Made with <img src="img/base_emoji_colored.png" alt="gdqstatus emoji" width="16px" align="top"> by <a href="http://benjamincongdon.me">Benjamin Congdon</a>, 2016-<script>document.write(new Date().getFullYear())</script></footer>
<div style="text-align:right; float:right">
  <!-- <a href="https://twitter.com/gdqstatus" class="twitter-follow-button" data-show-count="false">Follow @gdqstatus</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> -->
  <iframe src="https://ghbtns.com/github-btn.html?user=bcongdon&repo=gdq-stats&type=star" frameborder="0" scrolling="0" width="65px" height="20px"></iframe>
</div>
</br>
</br>