<meta charset="utf-8">

<title>{{ site.current_event_short_hand }} {{ site.current_event_year }} Stats</title>

<!-- odometer css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/odometer.js/0.4.8/themes/odometer-theme-minimal.min.css" />

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- Inline CSS -->
{% capture include_to_scssify %}
    {% include _scss/config.scss %}
    {% include _scss/rechartsLabels.scss %}
    {% include _scss/layout.scss %}
    {% include _scss/bootstrap-extension.scss %}
{% endcapture %}

<style type="text/css">
    {{ include_to_scssify | scssify }}
</style>

<!-- meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.description }}">
<meta name="robots" content="index, follow">
<meta name="author" content="{{ site.author }}">
