<!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- D3.js -->
<script src="bower_components/d3/d3.js"></script>
<!-- Github button -->
<script async defer src="bower_components/github-buttons/dist/github-buttons.js"></script>
<!-- odometer -->
<link rel="stylesheet" href="bower_components/odometer/themes/odometer-theme-minimal.css"/>
<script src="bower_components/odometer/odometer.min.js"></script>
<!-- Moment -->
<script src="bower_components/moment/moment.js"></script>
<!-- Js-Cookie -->
<script src="bower_components/js-cookie/src/js.cookie.js"></script>
<!-- CSV-JS -->
<script src="bower_components/CSV-JS/csv.js"></script>
<!-- Common Utils -->
<script src="/js/utils.js" type="text/javascript"></script>
<!-- Connection to Data Source -->
<script src="/js/data_connection.js" type="text/javascript"></script>

