<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- D3.js -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
<!-- Github button -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- odometer -->
<link rel="stylesheet" href="http://github.hubspot.com/odometer/themes/odometer-theme-minimal.css" />
<script src="http://github.hubspot.com/odometer/odometer.js"></script>
<!-- tmi.js -->
<script src="//cdn.tmijs.org/js/latest/tmi.js"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
<!-- Moment -->
<script src="js/lib/moment.min.js"></script>