@import "config";
@import "bootstrap-extension";

body {
  background-color: #FFFFFF;
  font-family: $standard-font;
  font-size: 10px;
  font-weight: 400;
}

.gdq-link {
  color: $secondary-color;
  text-decoration: none;
  margin-right: 16px;
}

a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    color: $secondary-hover-color;
    text-decoration: none;
  }
}

h1, h2, h3 {
  font-size: 30px;
  font-weight: 400;
  font-family: $stylized-font
}


.gdq-event-header {
  font-size: 32px;
  font-weight: 400;
  font-family: $stylized-font;

  border-bottom: 2px solid $primary-color;
  margin-bottom: 40px;
  margin-right: 25px;
}

.gdq-year-header {
  font-size: 32px;
  font-weight: 400;
  font-family: $stylized-font;
  color: $light-font-bold-color;

  display: inline-block;
  padding-top: 2px;
}

.graph-series-chooser {
  padding-left: 0px;
  font-size: 14px;
  font-family: $standard-font;
}

h3 {
  font-size: 18px;
}

tbody {
  tr {
    display: block;

    &:hover {
      background-color: #9ee5ff;
    }
    .selected {
      background-color: #9ee5ff;
    }
  }
}

.axis {
  font-size: 13px;
  fill: #999;
  font-weight: 200;

  text {
    fill: $light-font-bold-color;
    font-weight: 300;
  }

  path, line {
    shape-rendering: crispEdges;
    stroke: $axis-color;
    fill: none;
  }
}

.line {
  fill: none;
  stroke-width: 1.5px;
  clip-path: url(#clip);
}

.overlay {
  fill: none;
  pointer-events: all;
}

.primaryLine {
  stroke: $primary-color;
}

.primaryFocus {
  fill: $primary-color;
  stroke: $primary-color;
}

.secondaryLine {
  stroke: $secondary-color;
}

.primContextLine {
  stroke: $primary-color;
  stroke-width: 1px;
}

.secContextLine {
  stroke: $secondary-color;
  stroke-width: 1px;
}

.gameLine {
  stroke: $axis-rugline-color;
  stroke-width: 1px;
}

.contextBound {
  stroke: #bbb;
  fill: none;
  stroke-width: 1px;
}

.secondaryFocus {
  fill: $secondary-color;
  stroke: $secondary-color;
}

.brush .extent {
  stroke: white;
  fill-opacity: .125;
  fill: $primary-color;
  shape-rendering: crispEdges;
}

.container {
    // width: 960px;
    margin: 0 auto;
    padding: 0;
}

.section {
  border-left:  2px solid $panel-border-color;
  border-right: 2px solid $panel-border-color;
  margin-bottom: 40px;
  vertical-align: top;
  border-bottom: 2px solid $panel-border-color;

  h2 {
    text-align: left;
    padding: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    background-color: $panel-header-color;
  }
}

.table-content {
  padding: 0px;
  overflow: hidden;
}

.content {
  padding: 10px;
  overflow: hidden;
}

.current_stats {
  text-align: left;
  font-size: 16px;
  background-color: $panel-body-color;
  margin-top: 0px;
}

.gdq-links {
  background-color: $panel-recessed-color;
  border-top: 2px $panel-border-color solid;

  div {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: $stylized-font
  }
}

.current_header {
  padding-right: 10px;
}

.topline_stat {
  padding-bottom: 10px;
}

.stat {
  display: inline-flex;
  align-items: center;
  // width: 33%;
}

.odometer-group {
  display: inline-flex;
  // padding-right: 2.5em;
  margin-left: auto;
}

.tooltip {   
  pointer-events: none;
  position: absolute;           
  background-color: #fdfdfd;
  margin: 3px solid #fdfdfd;
  margin-right: 10px;
  margin-right: 10px;
  border: 1px solid $panel-border-color;
  text-align: center;
  font-family: $standard-font;
  width: 225px;
}

.tool-game {
  background-color: $panel-header-color;
  font-family: $stylized-font;
  font-weight: bold;
  font-size: 16px;
  height: 40px;
}

.tool-date {
  background-color: $panel-header-color;
  color: #777;
  font-weight: 300;
}

.tool-primary {
  color: $primary-color;
  font-size: 14px;
  padding-top: 5px;
}

.tool-secondary {
  color: $secondary-color;
  font-size: 14px;
  padding-bottom: 5px;
}

.tool-footer {
  background-color: $panel-header-color;
  font-weight: 800;
  color: #555;
}

#chart {
  height: 600px;
}

.games-selection {
  height: 400px;
  overflow-y: scroll;
  width: 50%;
  float: left;
  padding: 0;
  margin: 0;
}

#game-list {
  height: 500px;
  border-bottom: 2px solid $panel-border-color;
}

.game-list-row {
  border-top: 1px solid $panel-border-color;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
}

.games-list-body {
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  width: 100%;
  height: 476px;
  font-weight: 300;
}

.games-list-head {
  background-color: $panel-body-color;
  padding: 0px;
  display: block;
  padding-left: 5px
}

#gamesTable {
  width: 100%;
  font-size: 16px;
}

.info-label {
  font-size: 18px;
  font-family: $stylized-font;
}

.game-info-box {
  border: 1px $panel-border-color solid;
}

.odometer {
  display: inline-block;
  padding-right: 5px;
}

.emoji {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
}

.info-section {
  font-size: 16px;
  font-weight: 100;
  padding-left: 0px;
  padding-right: 25px;
  padding-top: 0px;

  h3 {
    margin-top: 0px;
  }
}

.loading-image {
  margin: auto;
  display: block;
  padding: 260px;
}

.series-options {
  background-color: $panel-body-color;
  padding: 10px;
  font-family: $stylized-font;
  font-size: 14px;
}

.series-select {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-family: $standard-font;
  width: 30%;
  font-weight: bold;
}

.series-select-title {
  width: 20%;
  display: inline-block;
}

.graph-time-select {
  display: inline;
  font-family: $standard-font;
  font-size: 12px;
  text-align: right;

  a {
    color: $light-font-bold-color;
    font-weight: bold;
    padding-right: 5px;

    &:hover {
      color: $light-font-color;
    }
  }
}

.series1 {
  color: $primary-color;
}

.series2 {
  color: $secondary-color;
}

footer {
  color: $light-font-color;
  font-size: 14px;
}
