#clockdiv{
  color: white;
  font-weight: 100;
  text-align: center;
  font-size:  60px;
  padding: 15px;
  padding-left: 0px;
  width: 100%; 
  margin: 0 auto;
  color: black;
  max-width: 760px;

  @media (max-width: 575px) {
    font-size: 32px;
    padding: 5px;
  }
}

.number-container {
  padding: 10px;
  border-radius: 3px;
  background: $panel-header-color;
  display: inline-block;

  .clock-number {
    padding: 15px;
    border-radius: 3px;
    background: #aaa;
    display: inline-block;
  }

  .clock-label {
    padding-top: 5px;
    font-size: 16px;
  }

  @media (max-width: 575px) {
    font-size: 32px;
    padding: 0px;
    border: 10px;

    .clock-label {
      padding-bottom: 5px;
    }
  }
}
